body {
    background: url(ignasi_pattern_s.png) repeat;
}

table {
    width: 55%;
    margin: auto;
}

tr, td {
    height: 40px;
    text-align: center;
    color: #234b6a;
    border: dotted 1px #aaaca8;
    font-family: cursive;
    font-size: 20px;
}

th {
    color: #234b6a;
    font-size: 15px;
    border: dotted 1px #aaaca8;

}

a#add {
    display: block;
    text-align: center;
    color: blanchedalmond;
    background: #2cb333;
    width: 52px;
    text-decoration: none;
    outline: none;
    border-radius: 9px;
    padding: 5px;
    margin-left: 0px;
}

a#edit, #del {
    display: block;
    text-align: center;
    /* margin: 0px auto; */
    color: blanchedalmond;
    background: #607d8b;
    width: 52px;
    text-decoration: none;
    outline: none;
    border-radius: 9px;
    padding: 3px;
}

a#del {
    background: #e63422;
}
