body {
    background: url("ignasi_pattern_s.png") repeat;
}

div.main {
    height: 540px;
    width: 460px;
    background: rgba(158, 158, 158, 0.32);
    display: inherit;
    margin: 0 auto;
    border-radius: 5%;
}

h2 {
    color: #673ab7;
    font-size: x-large;
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
    color: #9c27b0;
    font-family: cursive;
    display: block;
}

.radio_gender {
    text-align: center;
    font-size: larger;
    color: #be14ea;
    font-family: cursive;
    display: block;
}

input#male:focus {
    box-shadow: 0 0 11pt 1pt #2ba6a1;
    outline: none;
}

input#male:active {
    box-shadow: 0 0 11pt 1pt #2ba6a1;
    outline: none;
}

input#user_birthday {
    background: wheat;
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    -webkit-padding-start: 1px;
}

input#user_birthday:active {
    outline: none;
}

input#female:focus {
    box-shadow: 0 0 11pt 1pt #b02c9a;
    outline: none;
}

.user_marital {
    text-align: center;
    font-size: larger;
    color: #be14ea;
    font-family: cursive;
    display: block;
    margin: 15px;

}

input#user_marital:focus {
    box-shadow: 0 0 11pt 1pt #9c27b0;
    outline: none;
}

input {
    background-color: rgba(71, 109, 128, 0.23);
    -webkit-rtl-ordering: inherit;
    user-select: text;
    cursor: auto;
    padding: 15px;
    border-radius: 15px;
    border-width: 0;
    text-align: center;

    /*outline: none;*/
}

input:focus {
    border: 0;

}

input#user_name, #user_surname {
    color: #ffedff;
    font-size: 15px;
    outline: none;
    width: 375px;
}



input#user_birthdate {
    border: 0;
    /*color: aliceblue;*/
    font-size: 17px;
    width: 265px;
    outline: none;
    color: #aaaca8;
}

#user_biography {
    width: 370px;
    height: 50px;
    outline: none;
    color: gray;
    font-family: cursive;
}

textarea{
    border-radius: 15px;
    background-color: rgba(71, 109, 128, 0.23);
    width: 400px;
    height: 80px;
    outline: none;
    color: gray;
    font-family: cursive;
    border: 0;
    text-align: center;
}
input#submit {
    display: block;
    text-align: center;
    margin: 0px auto;
    color: blanchedalmond;
    background: cadetblue;
    width: 130px;
    outline: none;
}
