body {
    background: url("ignasi_pattern_s.png") repeat;
}

div.main {
    height: 500px;
    width: 460px;
    background: rgba(158, 158, 158, 0.32);
    display: inherit;
    margin: 0 auto;
    border-radius: 5%;
}

h2 {
    color: #673ab7;
    font-size: x-large;
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
    color: #9c27b0;
    font-family: cursive;
    display: block;
}

input {
    background-color: rgba(71, 109, 128, 0.23);
    -webkit-rtl-ordering: inherit;
    user-select: text;
    cursor: auto;
    padding: 15px;
    border-radius: 15px;
    border-width: 0;
    text-align: center;
    outline: none;
    color: white;
}

input#post_title {
    color: #ffedff;
    font-size: 15px;
    outline: none;
    width: 266px;
    height: 45px;
}

textarea#post_text {
    color: aliceblue;
    font-size: 14px;
    background-color: rgba(71, 109, 128, 0.23);
    border-radius: 15px;
    border-width: 0;
    text-align: center;
    outline: none;
}

input#post_text {
    color: aliceblue;
    font-size: 14px;
    background-color: rgba(71, 109, 128, 0.23);
    border-radius: 15px;
    border-width: 0;
    text-align: center;
    outline: none;
    width: 272px;
}

input#post_date {
    color: #9c27b0;
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    -webkit-padding-start: 1px;
    width: 265px;
    outline: none;
}

.radio_gender, .user_marital {
    text-align: center;
    font-size: larger;
    color: #be14ea;
    font-family: cursive;
    display: block;
}
div.submit {
    padding: 30px;
}

input#submit {
    display: block;
    text-align: center;
    margin: 0px auto;
    color: blanchedalmond;
    background: cadetblue;
    width: 130px;
    outline: none;
}

#post_user_id {
    width: 246px;
    height: 50px;
    padding-left: 102px;
    margin-top: 8px;
    font-family: Cursive;
    line-height: 1;
    border-radius: 15px;
    background-color: rgba(96, 125, 139, 0.21);
    color: #9c27b0;
    font-size: 20px;
    -webkit-appearance: none;
    outline: none;
}

select:hover {
    color: #00ff7f
}